@import './colors.css';

.team-scoreboard {
    margin-bottom: 0px;
    max-width: 1200px;
}

.scoreboard-header {
    color: var(--nord-text-0);
}

.scoreboard-table {
    width: 100%;
    border-collapse: collapse; /* Removes space between cell borders */
    background-color: var(--nord-base-2);
    color: var(--nord-text-0);
}

.scoreboard-table th, .scoreboard-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--nord-base-1); /* Separator line between rows */
}

.scoreboard-table thead th {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.85em;
    letter-spacing: 0.5px;
}

.scoreboard-table tbody tr:hover {
    background-color: var(--nord-base-3);
}

/* Align stat columns to the center */
.stat-col, .stat-cell-container {
    text-align: center;
}

/* Player cell styling */
.player-info {
    display: flex;
    align-items: center;
    text-align: left;
    width: 250px;
}

.agent-icon {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
}

.player-name {
    font-weight: bold;
    color: var(--nord-text-0);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover .player-name {
    color: var(--nord-blue-0); /* Highlight name on hover */
}

/* Stat cell specific styles */
.stat-cell.positive {
    color: var(--nord-green); /* Green */
}

.stat-cell.negative {
    color: var(--nord-red); /* Red */
}

.scoreboard-team-separator {
    width: 100%;
    height: 20px;
}